body{
  display: flex;
  flex-direction: column;
  width: 750px;
}

.first{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: silver;
  padding-left: 3px;
  padding-right: 3px;
  height: 30px;
  border:solid;
  border-width: 1px;
}

.second{
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-bottom: solid;
  border-width: 1px;
}

